<!-- Footer -->
<footer class='text-center text-lg-start bg-light text-muted pt-1 mt-5'>
  <!-- Section: Links  -->
  <section class='text-start'>
    <div class='container mt-5'>
      <!-- Grid row -->
      <div class='row mt-3'>
        <!-- Grid column -->
        <div class='col-md-5 col-lg-4 col-xl-5 mx-auto mb-4'>
          <!-- Content -->
          <h6 class='text-uppercase fw-bold mb-4'>
            Обо мне
          </h6>
          <p>
            Меня зовут Егор Коробейников.
            <br />Я работаю в сфере кибербезопасности, увлекаюсь
            программированием и занимаюсь web разработкой. Сейчас заканчиваю
            факультет Fullstack JavaScript в GeekBrains. Работаю с фреймворками
            Angular, Vue, React. Знаю HTML&CSS, JavaScript, TypeScript, C/С++
            (основы), Node.js, Webpack, Gulp, Parcel, ORM, Linux, Git. Изучаю
            Nest.js, Electron.js, ReactNative.
            <br />Буду рад сотрудничеству!
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class='col-md-3 col-lg-3 col-xl-3 mx-auto mb-4'>
          <!-- Links -->
          <h6 class='text-uppercase fw-bold mb-4'>
            Мои проекты
          </h6>
          <p>
            <a
              href='https://fund-dm.ru'
              target='_blank'
              class='text-reset'
            >Благотворительный Фонд «Друзья Милосердия»</a>
          </p>
          <p>
            <a
              href='https://obshee-delo72.ru'
              target='_blank'
              class='text-reset'
            >ЦОД ТО «Общее дело»
            </a>
          </p>
          <p>
            <a
              href='https://miloserdie-72.ru'
              target='_blank'
              class='text-reset'
            >ПРО «Общество Милосердия»</a>
          </p>
          <p>
            <a
              href='https://odnodum.ru'
              target='_blank'
              class='text-reset'
            >ОДНОДУМ.RU</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class='col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4'>
          <!-- Links -->
          <h6 class='text-uppercase fw-bold mb-4'>Мои контакты</h6>
          <p><i class='fas fa-home'></i> г.&nbsp;Тюмень</p>
          <p>
            <i class='fas fa-envelope'></i>
            egorlo059@gmail.com
          </p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class='text-center p-4' style='background-color: rgba(0, 0, 0, 0.05);'>
    Для сотрудничества пишите на почту:
    <a
      href='mailto:egorlo059@gmail.com?subject=Письмо от&amp;body=Здравствуйте,'
    >egorlo059@gmail.com</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->