<div class="card text-center mt-3">
  <h3 class="text-uppercase mt-4">Создайте свою новость</h3>
  <div class="card-body mx-auto">
    <div class="input-group mb-2 align-items-center">
      <label for="cover" class="form-label mb-0 me-2">Изображение анонса:</label>
      <input class="form-control" type="file" id="cover" />
    </div>
    <div class="mb-2">
      <input
        type="text"
        class="form-control"
        id="title"
        name="title"
        aria-describedby="title"
        placeholder="Введите название новости"
      />
    </div>
    <div class="mb-2">
      <textarea
        class="form-control text-left"
        id="description"
        rows="4"
        cols="50"
        name="description"
        placeholder="Введите текст новости"
      ></textarea>
    </div>
    <button id="btnCreateNews" class="btn btn-dark mb-3">
      Создать новость
    </button>
  </div>
  <script src="/js/create-news.js"></script>
</div>