DATABASE_TYPE=postgres
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=TYPE_YOUR_PASSWORD
DATABASE_NAME=news_blog
MAILER_SERVER=smtp.mail.ru
MAILER_EMAIL=egorlo@mail.ru
MAILER_PASSWORD=TYPE_YOUR_PASSWORD
